.content
	.report
		%span.meta Temp
		%span#temp
		%span.meta &deg;
	
	.report	
		%span.meta Humidity
		%span#humidity
		%span.meta %
	
	.report
		%span.meta Dewpoint
		%span#dewpoint
		%span.meta &deg;
	
	.report
		%span.meta Pressure
		%span#pressure
		%span.meta "HG
	
	.report
		%span.meta Light
		%span#light
		%span.meta %
		
	.report
		%span.meta Wind Speed
		%span#wind_speed
		%span.meta MPH
	
	.report
		%span.meta Wind Direction
		%span#wind_direction
		%span.meta &deg;
	
	.report
		%span.meta Rainfall
		%span#rainfall
		%span.meta "
	
	#messages
